.add-page-layout{
    margin: 30px;
}

.add-page-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.add-page-subtitle{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}